.panda-bg-panda{
    background-color: #fceae8;
}
.panda-button-panda{
    background-color: #ff2e80;
    color: #ffff;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
.panda-bg-danda{
    background-color: #ff2e80;
}
.costomize-top-marzin{
    margin-top: 30px;
}